[submodule "PySudoku"]
	path = PySudoku
	url = https://github.com/petepeg/PySudoku.git
[submodule "PyGame-Boids"]
	path = PyGame-Boids
	url = https://github.com/petepeg/PyGame-Boids.git
[submodule "GameOfLife"]
	path = GameOfLife
	url = https://github.com/petepeg/GameOfLife.git
[submodule "FFG-Roller"]
	path = FFG-Roller
	url = https://github.com/petepeg/FFG-Roller.git
